@import '../../../styles/vars';

.page-title {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: $primary-grey;
  &.blue {
    color: $primary-blue;
  }
  > h2 {
    font-size: 15px;
    letter-spacing: 1px;
    margin: 0;
    > span {
      font-weight: 500;
      color: $secondary-blue;
    }
  }
  > div.divider {
    background: #eee;
    flex: 1;
    height: 2px;
    display: block;
    margin-left: 20px;
    margin-right: 20px;
  }
}
